.character-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('../../assets/marble1.jpg');
  border: 3px solid goldenrod;
  border-radius: 8px;
}

.head-img {
  height: 110px;
}

.chest-img {
  height: 200px;
}

.leg-img {
  height: 200px;
}